@using web_api_test.Models

@model IEnumerable<IReservation>


@{
    ViewBag.Title = "Заявки на бронирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

<script>
    var model = {
        reservations: ko.observableArray(),
        editor: {
            name: ko.observable(""),
            location: ko.observable(""),
            email: ko.observable(""),
            phone: ko.observable("")
        }
    };

    function sendAjaxRequest(httpMethod, callback, url, reqData) {
        $.ajax("/api/web" + (url ? "/" + url : ""), {
            type: httpMethod,
            success: callback,
            data: reqData
        });
    }

    function getAllItems() {
        sendAjaxRequest("GET", function (data) {
            model.reservations.removeAll();
            for (var i = 0; i < data.length; i++) {
                model.reservations.push(data[i]);
            }
        });
    }

    function removeItem(item) {
        sendAjaxRequest("DELETE", function () {
            for (var i = 0; i < model.reservations().length; i++) {
                if (model.reservations()[i].ReservationId == item.ReservationId) {
                    model.reservations.remove(model.reservations()[i]);
                    break;
                }
            }
        }, item.ReservationId);
    }

    function handleEditorClick() {
        sendAjaxRequest("POST", function (newItem) {
            model.reservations.push(newItem);
        }, null, {
            ClientName: model.editor.name,
            Location: model.editor.location,
            Email: model.editor.email,
            Phone: model.editor.phone
        });
    }

    $(document).ready(function () {
        getAllItems();
        ko.applyBindings(model);
    });
</script>

}

@section Body {
   <div id="summary" class="section panel panel-primary">  
       @Html.Partial("Summary", Model)
   </div>
    
    <div id="editor" class="section panel panel-primary">
        @Html.Partial("Editor", new Reservation())
    </div>
}


